{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block title %}  leave Managment {% endblock %}

{% block style %}

body {
font-family: Arial, sans-serif;
background-color: #e0e0e0;
}

.user-details {
<!--            width: 50%;-->
margin: 0 auto;
background-color: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
color: #333;
}

p {
color: #777;
}

.user-image {
width: 100px;
height: 100px;
border-radius: 50%;
object-fit: cover;
}

{% endblock %}

{% block content %}


<div class="row">

    <div class="col-6">

        <div class="user-details">
            <img src="user.jpg" alt="User" class="user-image">
            <h2>Employee Name: {{u.get_full_name}}</h2>
            <p>UserName: {{u.username}}</p>
            <p>Email: {{u.email}}</p>
            <p>Date of Birth: {{u.dob}}</p>
            <p>Date of Joining: {{u.do_joining}}</p>
            <p>Salary: {{u.salary}}</p>

        </div>
    </div>

    {% if user.is_superuser %}
    <div class="col-6">
    {% if not u.salary %}

        <div class="user-details">

            <div class="card">
                <div class="card-header">
                    <h2>Edit Employee Details</h2>
                </div>
                <div class="card-header">
                    <form action="" method="post">

                        {% csrf_token %}
                        {{form|crispy}}

                        <div class="card-header">
                            <input type="submit" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="card">
        <h5>Details are already added</h5>
    </div>
    {% endif %}

</div>

{% endif %}
</div>

{% endblock%}