{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Leave Management{% endblock %}

{% block style %}

body {
font-family: Arial, sans-serif;
background-color: #e0e0e0;
}

.status {
<!--            width: 50%;-->
margin: 0 auto;
background-color: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
{% endblock %}

{% block content %}

{% if user.is_superuser %}
<div class="row">
    <div class="col-md-6 mx-4 my-4">
        <div class="card ">
            {% if not object_list %}
            <div class="card-header">
                <h3>There are no leave applications</h3>
            </div>
            {% else %}

            {% for l in object_list %}
            <div class="card-body">
                <div class="row">

                    <div class="col-md-8">
                        <h4>User Name: {{l.user.get_full_name}} </h4> <br>

                        <h5>Category Name: {{ l.category_of_leave.name }}</h5>
                        <div class="alert {% if l.application_status == 'Pending' %}alert-warning{% endif %}{% if l.application_status == 'Approved' %}alert-success{% endif %}{% if l.application_status == 'Rejected' %}alert-danger{% endif %} col-4">
                            <strong>{{ l.application_status }}!</strong>
                        </div>
                        <p>Applied for Date: {{ l.start_date }}</p>
                        <p>Number of days: {{ l.duration_of_leave }}</p>
                    </div>
                    <div class="col-3">
                        <a href="{% url 'request' l.id%}" class="btn btn-primary"> Update Status</a>
                    </div>


                </div>
                <hr>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="card-footer"></div>
    </div>
</div>
{% endif %}
{% endblock %}
