{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block title %}  leave Managment {% endblock %}

{% block style %}

body {
font-family: Arial, sans-serif;
background-color: #e0e0e0;
}

.user-details {
<!--            width: 50%;-->
margin: 0 auto;
background-color: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-5 ">
        <div class="card user-details">
            <div class="card-header">
                <form action="" method="post">
                    <div class="mt-4 md-4 text-center">
                        <h3> Leave Form</h3> <br>
                        <h5> Do fill the form</h5>
                        <hr>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </div>

                    <div class="card-footer">
                        <input type="submit" value="submit" class="btn btn-success">
                        {% if form.non_field_errors %}
                        <div class="alert alert-danger">{{ form.non_field_errors }}</div>
                        {% endif %}
                    </div>

                </form>
            </div>
        </div>

    </div>
    <div class="col-7 ">
        <div class="card user-details">
            <div class="card-header">
                <div class="mt-4 md-4 text-center">
                    <h3> Leave Requests</h3> <br>
                    <hr>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Leave Type</th>
                            <th>Total</th>
                            <th>Remaining days</th>
                            <th> Consumed</th>


                        </tr>
                        </thead>

                        <tbody>
                        {% for item in new_list %}
                        <tr>
                            <td>{{item.name}}</td>
                            <td>{{item.total_number}}</td>
                            <td>{{ item.remaining_days}}</td>
                            <td>{{item.consumed}}</td>


                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4 justify-content-center">
    <div class="col-10 user-details">
        <div class="card ">
            <div class="card-header">
                <div class="mt-4 md-4 text-center">
                    <h3>Leave Details</h3> <br>
                    <hr>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Category of Leave</th>
                            <th>Number of days</th>
                            <th>Status of Leave</th>
                            <th> Start Date</th>
                            <th> End Date</th>
                            <th>Description</th>


                        </tr>
                        </thead>

                        <tbody>
                        {% for l in leave %}
                        <tr>
                            <td> {{ l.category_of_leave.name}}</td>
                            <td> {{ l.duration_of_leave}}</td>
                            <td> {{ l.application_status}}</td>
                            <td> {{ l.start_date}}</td>
                            <td> {{ l.end_date}}</td>
                            <td> {{ l.reason_of_leave}}</td>

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}